* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  .game-display {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #88c2a1;
  }
  .game-display > h1 {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .game-display > p {
    margin-bottom: 20px;
    
  }
  .game-board {
    /* position: absolute; */
    border: 1px solid #334139;
    border-radius: 5px;
    background-color: #4a5a51;
    box-shadow: 0 0 10px #334139;
  }
  